<nav class="navbar justify-content-end">
  <ul class="nav">
    <li class="nav-item">
      {{#unless user}}
      <button id="login" class="nav-link btn btn-primary" data-toggle="modal" data-target="#loginModal">Log in / Sign
        up</button>
      {{else}}
      <button id="logout" class="nav-link btn btn-primary">Log out</button>
      {{/unless}}
    </li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Log in / Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="login-form">

        <div class="modal-body">
          Email<br>
          <input id="email-input" type="email" style="width: 100%;" required><br>
          Password<br>
          <input id="password-input" type="password" style="width: 100%;" required><br>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="login">Log in</button>
          <button type="submit" class="btn btn-primary" id="signup">Sign up</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </form>

    </div>
  </div>
</div>
