<nav class="navbar justify-content-end">
  <ul class="nav">
    <li class="nav-item">

      {{#unless user}}
        <button id="login" class="nav-link btn btn-primary" data-toggle="modal" data-target="#loginModal">Log in / Sign
        up</button>
      {{else}}
        <button id="logout" class="nav-link btn btn-primary">Log out</button>
      {{/unless}}

    </li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Log in / Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="login-form">

        <div class="modal-body">
          Email<br>
          <input id="email-input" type="email" style="width: 100%;" required><br>
          Password<br>
          <input id="password-input" type="password" style="width: 100%;" required><br>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="login">Log in</button>
          <button type="submit" class="btn btn-primary" id="signup">Sign up</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="container">
  Search by drink name: <br>
  <input id="drink-name" type="text">
  <button id="name-search" class="btn btn-primary">Go</button><br>
  
  <br>

  Search by ingredient: <br>
  <input id="ing-name" type="text">
  <button id="ing-search" class="btn btn-primary">Go</button><br>

  Most popular cocktails: 
  <button id="most-pop" class="btn btn-primary">Go</button><br>

  Random cocktail: 
  <button id="random" class="btn btn-primary">Go</button><br>

  Search by category: 
  <select id="cat-dropdown">
    <option value="Ordinary Drink">Ordinary Drink</option>
    <option value="Cocktail">Cocktail</option>
    <option value="Milk / Float / Shake">Milk / Float / Shake</option>
    <option value="Other / Unknown">Other / Unknown</option>
    <option value="Cocoa">Cocoa</option>
    <option value="Shot">Shot</option>
    <option value="Coffee / Tea">Coffee / Tea</option>
    <option value="Homemade Liqueur">Homemade Liqueur</option>
    <option value="Punch / Party Drink">Punch / Party Drink</option>
    <option value="Beer">Beer</option>
    <option value="Soft Drink / Soda">Soft Drink / Soda</option>
  </select>
  <button id="cat-search" class="btn btn-primary">Go</button>

  <div id="results"></div>
</div>
