<div class="view"
  style="background-image: url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center; height: 100vh; background-color: black; box-shadow: inset 0 0 0 1000px rgba(18, 18, 18, 0.8);">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="text-center">You must be of appropriate drinking age to experience this site!</h5>
            <p class="text-center">
              Please input your Date of Birth!
            </p>
            <form class="form-inline mx-auto">
              <label for="monthInp" class="mx-auto">Month:</label>
              <input type="text" id="monthInp" class="form-control  col-sm-2 mx-auto" placeholder="MM">
              <label for="dayInp" class="mx-auto">Date:</label>
              <input type="text" id="dateInp" class="form-control col-sm-2 mx-auto" placeholder="DD">
              <label for="yearInp" class="mx-auto">Year:</label>

              <input type="text" id="yearInp" class="form-control monthInp col-sm-2 mx-auto" placeholder="YYYY">
            </form><br><br>
                          <p class="text-center cheers"><a class="btn btn-dark btn-large" id="cheers">CHEERS »</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Log in / Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="login-form">

        <div class="modal-body">
          Email<br>
          <input id="email-input" type="email" style="width: 100%;" value="user@gmail.com" required><br>
          Password<br>
          <input id="password-input" type="password" style="width: 100%;" value="123456" required><br>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="login">Log in</button>
          <button type="submit" class="btn btn-primary" id="signup">Sign up</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </form>

    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>